# Foldery wyjściowe
/bin/
/target/
/out/
*.class

# Folder dokumentacji
/Javadoc/

# Konfiguracje środowisk (Eclipse, IntelliJ IDEA)
/.idea/
/.settings/
.classpath
.project
*.iml

# Niektóre buildy (zależnie czy chcemy trzymać binarki w repozytorium na Githubie)
# *.jar 
Nagrywanie 2026-02-21 131754.mp4
